<div class="row p-5">
  <div class="card">
    <div class="container">
      <div class="row p-5">
        <div class="col-12 mb-5">
          <h4 class="text-center" style="color: #0f265c;">Bienvenido</h4>
        </div>
        <div class="col-12 mb-3">
          <label for="usuario" class="form-label" style="color: #0f265c;">Usuario</label>
          <input class="form-control" type="text" name="usuario" placeholder="Usuario">
        </div>
        <div class="col-12 mb-5">
          <label for="contrasena" class="form-label" style="color: #0f265c;">Contraseña</label>
          <input class="form-control" type="password" name="contrasena" placeholder="Contraseña">
        </div>
        <div class="col-12">
          <button class="btn btn-primary col-12" (click)="login()">Ingresar</button>
        </div>
      </div>
    </div>
  </div>
</div>
