<div class="row">
  <h3 class="col-12 text-center mt-5">
    Gestión de la Creación de Recursos de Nube
  </h3>
  <div class="col-12">
    <p class="p-3" style="text-align: justify;">
      El equipo de infraestructura ha desarrollado esta aplicación con el propósito de facilitar la gestión de la creación de recursos en nuestras nubes internas. Nuestra aplicación ha sido diseñada con el objetivo de reducir los tiempos necesarios para este proceso, mejorar la comunicación y garantizar el cumplimiento efectivo de tus requerimientos.
    </p>
  </div>
  <div class="col-12 text-center">
    <img class="col-6" src="assets/images/cloud.svg"/>
  </div>
</div>
