<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 55px;">
  <a class="navbar-brand" href="#">
    <img src="assets/images/cloudflowlogo.png" style="height: 35px; margin-left: 20px; margin-right: 20px;"/><span style="font-size: 20px; font-weight: bold;">Gestión de la Creación de Recursos de Nube</span>
  </a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav" style="margin-left: auto;">
      <li class="nav-item dropdown" ngbDropdown>
        <a
          href="javascript:void(0)"
          class="nav-link text-light"
        >
          <i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;{{user}}
        </a>
      </li>
    </ul>
  </div>
</nav>
